# Core (Discord)
git+https://github.com/Rapptz/discord.py

# Database
motor
aioredis
dnspython

# Error Handling/Debugging
sentry-sdk
psutil
jishaku

ujson # faster json
pendulum # time
aiocron # schedule
pillow # profile image